<h1>Quick Table Search Functionality</h1>
<form [formGroup]="filterForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Season</mat-label>
    <mat-select formControlName="bloom_time">
      <mat-option *ngFor="let time of season" [value]="time">{{
        time
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Types</mat-label>
    <mat-select formControlName="plant_type">
      <mat-option *ngFor="let plant of type" [value]="plant">{{
        plant.length ? plant : "None"
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select formControlName="appropriate_location">
      <mat-option *ngFor="let loc of location" [value]="loc">{{
        loc.length ? loc : "None"
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <mat-select formControlName="habitat_value">
      <mat-option *ngFor="let val of value" [value]="val">{{
        val.length ? val : "None"
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-stroked-button color="primary" type="submit">Submit</button>
</form>

<mat-list *ngIf="filtered | async as data">
  <ng-container>
    <a *ngFor="let plant of data" (click)="openModal(plant)">
      <mat-list-item>{{ plant.common_name }}</mat-list-item>
    </a>
  </ng-container>
</mat-list>
