<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Common name</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Plant type</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Bloom time</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Flower color</mat-label>
    <input matInput />
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Soil type</mat-label>
    <input matInput />
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Habitat value</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
</div>
